.movie_info {
	position: relative;

}
.movie_info img {
	position: absolute;
	left: 30px;
	width: 250px;
}
.moive_detail {
	position: absolute;
	left: 310px;
	top: 0px;
}
.movie_introduction {
	position: absolute;
	width: 400px;
	left: 310px;
	top: 250px;
}
.cinema_list {
	position: relative;
	top: 0px;
	left: 900px;
	width: 400px;
}
.film_book_block {
	/*box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;*/
	padding: 3px 3px 0px 3px;
	text-align: center;
	display: inline-block;
	margin-right: 15px;
	border: 1px solid #d3d3d3;
}
.film_book_block:hover {
	border: 1px solid #FFA500;
}
.play_date {
	border-bottom: 1px dotted #d3d3d3;
	padding-bottom: 5px;
}